.cover__link{
    background-image: url('../../../images/__background.png');
    width: 100%;
    max-width: 1184px;
    height: 740px;
    margin: 102px auto 0;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #0000004d;
    background-blend-mode: multiply;
    transition: background-color 0.3s;
    text-decoration: none;
    background-size: cover;
    }
    
    .cover__link:hover{
    background-color:#2A2C2F;
    transition: background-color 0.8s; 
    }

    @media screen and (max-width: 374px) {
        .cover__link {
            height: 216px;
        }
    }
    
    @media screen and (min-width: 375px) and (max-width: 449px) {
        .cover__link {
            margin-top: 48px;
            height: 272px;
        }
    }
    
    @media screen and (min-width: 450px) and (max-width: 599px) {
        .cover__link {
            height: 330px;
        }
    }
    
    @media screen and (min-width: 600px) and (max-width: 767px) {
        .cover__link{
            height: 420px;
        }
    }
    @media screen and (max-width: 767px) {
        .cover__link {
            margin-top: 64px;
        }
    }
    
    @media screen and (min-width: 768px) and (max-width: 1023px) {
        .cover__link {
            height: 500px;
        }
    }
    
    @media screen and (min-width: 1024px) and (max-width: 1279px) {
        .cover__link {
            height: 562px;
        }
    }
    
    
    
    
    
    
    
  