.header__link_active{
text-decoration: none;
font-family: 'Inter' , 'Arial' , sans-serif;
font-weight: 300;
color: #fff;
font-size: 24px;
text-decoration-line: underline;
border-bottom: 2px solid #fff;
}
