@import url("./__title/lead__title.css");
@import url("./__subtitle/lead__subtitle.css");
@import url("./__image/lead__image.css");
@import url("./__caption/lead__caption.css");

.lead {
    max-width: 928px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin: 0 auto;
    padding: 0;
}
