@import url('./_active/header__link_active.css');

.header__link{
text-decoration: none;
font-family: 'Inter' , 'Arial' , sans-serif;
font-weight: 300;
color: #fff;
font-size: 24px;

    
}


@media screen and (max-width: 450px) {
	.header__link {
		font-size: 18px;
	}
}